* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.checked {
    text-decoration: line-through;
}

.container {
    padding-top: 20px;
    width: 1240px;
    margin: 0 auto;
}

h1 {
    padding: 20px;
    background-color: #e3624a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tasksBlock {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #e3624a;
    overflow: auto;
    height: 400px;
    background-color: #733d35;
}

.newTaskInputBlock {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e3624a;
    padding: 20px;
    gap: 20px;
    background-color: #ffa393;
}

.newTaskInputBlock input{
    padding: 5px;
    font-size: 25px;
}

.task {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    border-bottom: 2px solid rgba(170, 170, 170, 0.55);
    background-color: #ffd9d5;
    
}

.task .input {
    width: 100%;
    padding: 10px;
    font-size: 25px;
}

button {
    width: 75px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #282828;
    color: #ececec;
    border-radius: 10px;
}